*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    padding: 60px;
}

h2{
    margin-bottom: 15px;
}

input{
    width: 100%;
    font-size: 1.1rem;
    margin-bottom: 5px ;
    color: darkgray;
    padding: 5px;   
}

.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    align-content: center;
    border: 1px solid gray;
    border-radius: 6px;
    margin: 10px;
    border-radius: 5px;
}

.card p{
    padding: 5px;
    text-align: center;
}

.card img{
    max-height: 150px;
}